*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top:4rem;
}
#dashboard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;

}

#dashboard td, #dashboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dashboard tr:nth-child(even){background-color: #f2f2f2;}

#dashboard tr:hover {background-color: #ddd;}

#dashboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(55, 63, 82);
  color: white;
}
#dashboard input{
  padding: .4rem 1rem;
  outline: none;
  border: none;
}
#dashboard input:focus{
  background: rgb(248, 232, 202);
}
.order{
  background: transparent;
  border: 0px;
  color:#fff;
  outline: none;
  border: none;
  position: relative;
  margin: 0px;
}
.order > option{
  color:black;
  border: 0px;
  outline: 0px;
  position: fixed;
  box-shadow: .4rem .4rem .4rem #ddd;
}
.order > option:first-child{
  display: none
}
.edited{
  color: orange;
}
.done{
  display: inline;
  width: 1rem;
  height: auto;
  padding: .1rem;
}
.btn{
  border: none;
  padding: .5rem 1rem;
  margin:.5rem;
  border-radius: .4rem;
  outline: none;
}
.btn__update{
  margin-left: auto;
}
.btn:hover{
  background: rgb(55, 63, 82);
  color:#fff;

}
.btn:disabled{
  background: #EEE;
  color: inherit;
}
.header{
  padding: 2rem 0rem; 
  background: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0px 1px 1px #CCC; 

}
.header .title{
  margin-left:2rem;
  font-size: 1.5rem;
  font-weight: bolder;
}
.navigation{
  margin-top:2rem;
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  justify-content: center;
}
.footer{
  position: fixed;
  bottom: 0px;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
.help_toggle{
  display: inline-block;
  font-size: 2rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.mobile{
  display: none;
}
.header{
  padding: 1.5rem 0;
  font-size: 1rem;
}
#dashboard{
  width: 95%; 
}
.navigation{
  width: 90%;
  margin-top: 1.5rem;
}
.container{
  margin: 1rem 0rem;
}
#dashboard input{
  padding: .5rem .5rem;
  width: 100%;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}